<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.pizzup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen -->
        <activity
            android:name="com.project.pizzup.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->
        <activity
            android:name="com.project.pizzup.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.project.pizzup.ResActivity"
            android:label="@string/title_activity_res" >
        </activity>
        <activity
            android:name="com.project.pizzup.PizzaActivity"
            android:label="@string/title_activity_pizza" >
        </activity>
        <activity
            android:name="com.project.pizzup.Ingredients"
            android:label="@string/title_activity_ingredients" >
        </activity>
        <activity
            android:name="com.project.pizzup.Ingredient"
            android:label="@string/title_activity_ingredient" >
        </activity>
        <activity
            android:name="com.project.pizzup.IngredientAdminActivity"
            android:label="@string/title_activity_ingredient_admin" >
        </activity>
    </application>

</manifest>
